on:
  push:
    branches: v*
  pull_request:
    branches: v*
  release:
    types: published
  workflow_dispatch: ~
name: pkgdown
jobs:
  pkgdown:
    runs-on: ubuntu-latest
    concurrency:
      group: pkgdown-${{ github.event_name != 'pull_request' || github.run_id }}
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v4
    - uses: r-lib/actions/setup-pandoc@v2
    - uses: r-lib/actions/setup-r@v2
      with:
        use-public-rspm: yes
    - uses: r-lib/actions/setup-r-dependencies@v2
      with:
        extra-packages: any::pkgdown, local::.
        needs: website
    - name: Build site
      run: pkgdown::build_site_github_pages(new_process = FALSE, install = FALSE)
      shell: Rscript {0}
    - name: "Deploy to GitHub pages \U0001F680"
      if: github.event_name != 'pull_request'
      uses: JamesIves/github-pages-deploy-action@v4.5.0
      with:
        clean: no
        branch: gh-pages
        folder: docs
